.u-section-1 .u-sheet-1 {min-height: 500px}
.u-section-1 .u-layout-wrap-1 {margin-top: 60px; margin-bottom: 60px; min-height: 400px}
.u-section-1 .u-image-1 {min-height: 400px; background-image: url("images/image1.png")}
.u-section-1 .u-container-layout-1 {padding: 30px}
.u-section-1 .u-layout-cell-2 {min-height: 212px}
.u-section-1 .u-container-layout-2 {padding: 30px}
.u-section-1 .u-text-1 {margin-top: 0; margin-bottom: 0}
.u-section-1 .u-text-2 {margin: 16px 0 0}
.u-section-1 .u-layout-cell-3 {min-height: 188px}
.u-section-1 .u-container-layout-3 {padding: 30px}
.u-section-1 .u-social-icons-1 {white-space: nowrap; height: 32px; min-height: 16px; width: 32px; min-width: 16px; margin: 48px auto 0}
.u-section-1 .u-icon-1 {height: 100%}
.u-section-1 .u-layout-cell-4 {min-height: 188px}
.u-section-1 .u-container-layout-4 {padding: 30px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 412px}
.u-section-1 .u-layout-wrap-1 {position: relative}
.u-section-1 .u-image-1 {min-height: 330px}
.u-section-1 .u-layout-cell-2 {min-height: 175px}
.u-section-1 .u-layout-cell-3 {min-height: 155px}
.u-section-1 .u-layout-cell-4 {min-height: 155px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 316px}
.u-section-1 .u-image-1 {min-height: 506px}
.u-section-1 .u-layout-cell-2 {min-height: 100px}
.u-section-1 .u-layout-cell-3 {min-height: 100px}
.u-section-1 .u-social-icons-1 {margin-top: 73px}
.u-section-1 .u-layout-cell-4 {min-height: 237px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 237px}
.u-section-1 .u-image-1 {min-height: 380px}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-layout-cell-4 {min-height: 222px}
.u-section-1 .u-container-layout-4 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 149px}
.u-section-1 .u-image-1 {min-height: 239px}
.u-section-1 .u-layout-cell-4 {min-height: 140px} }